@tailwind base;
@tailwind components;
@tailwind utilities;

.border-notion-grey {
	border-color: rgb(248, 248, 248);
	border-right-width: 2px;
}

.notion-sidebar-bg-color {
	background-color: rgb(251, 251, 251);
}
