.applicationPreviewWrapeer {
	display: block;
	padding: 1rem 1rem;
	border-radius: 4px;
	box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1);
	margin: 12px 0;
}

.jobPreviewWrapeer :hover {
	cursor: pointer;
}

.jobPreviewWrapeer p {
	margin: 0;
}

.jobPreviewWrapeer > * {
	margin-top: 8px;
}

.companyName {
	font-size: 0.8em;
}

.location {
	font-size: 0.8em;
	color: rgba(0, 0, 0, 0.6);
}

.appDate {
	font-size: 0.8em;
	color: rgba(0, 0, 0, 0.6);
}
