.navbar {
  margin: 0;
  padding: 0;
  width: 100%;
  position: relative;
  display: flex;
  justify-content: space-between;
  border-style: solid;
  border-width: thin;
  border-color: rgb(229, 231, 235);
}

.pageTitle {
  display: flex;
  align-items: center;
  margin-left: 8rem;
}

.pageTitle p {
  margin: 0;
  font-size: 1.5rem;
}

.ul {
  list-style-type: none;
  margin: 0;
  overflow: hidden;
  background-color: white;
  padding: 0.5rem;
  margin-right: 4rem;
}

.li {
  float: left;
  margin: 0.5rem 2rem;
}

.btn {
  margin: 0 2rem;
}

.li .a {
  display: block;
  font-weight: 500;
  color: black;
  text-align: center;
  text-decoration: none;
}

.li .a:hover {
  color: rgb(26, 86, 219)
}
